.input-group {
  width: auto;
}

.input-group input, .input-group .form-notch, .input-group .form-notch-trailing {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.input-group button {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.input-large[class="input-large"] {
  width: 100px;
}

body {
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  /* more styles */
}

.form-control {
  background-color: transparent;
}

.form-control:focus {
  background-color: transparent;
}

.particles {
  position: fixed;
  right: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.rank_emblem {
  height: 50%;
}

.summonerIcon {
  width: 80%;
}

.borderImage {
  border: 20px solid transparent;
  padding: 0px;
  border-image: url("./static/borders/master.png") 10% stretch;
}

.tag {
  
  color: #FFFFFF;
  font-weight: bold;
  width: inherit;
}

.badge-pill {
  margin-left: 2px;
  margin-right: 2px;
}

.loader { 
  width: 10px;
  height: 10px;
  margin: 40px auto;
  border-radius: 50%; 
}